<div id="main">
    <div class="top-main">
        <div class="banner-head">
            <i class="<%= theme.icon.iconfont_family %> <%= theme.icon.iconfont %>details"></i>
            <span>书籍详情</span>
        </div>
        <div class="banner-details"></div>
        <div class="banner-text"></div>
    </div>
    <div class="button-main"></div>
</div>