/*!
  Theme: hexo-theme-Melancholia
  Author: 亦封
  Maintainer: @yife68
  Maintainer-GitHub: https://github.com/yife68

  theme - GitHub: https://github.com/yife68/hexo-theme-Melancholia
*/

/*!
主题: hexo-theme-Melancholia
作者: 亦封
维护人员: @yife68
维护人员的GitHub个人地址: https://github.com/yife68

主题的GitHub个人地址: https://github.com/yife68/hexo-theme-Melancholia
*/


:root
  --icat-style-border-always: #e1e4e8
  --icat-nav-background-color: rgba(255,255,255,0.6)
  --icat-style-background-color: #f4f4f4
  --icat-style-text-color: #1B1B1B
  --icat-background-color: #FFF

if hexo-config('darkmode.enable') || hexo-config('display_mode') == 'dark'
  [data-theme='dark']
    --icat-style-border-always: rgba(255,255,255,0.1)
    --icat-nav-background-color: rgba(13,17,23,0.6)
    --icat-style-background-color: #191919
    --icat-style-text-color: hsla(0,0%,100%,0.86)
    --icat-background-color: #121212