:root{
    --icat-style-border-always: #e1e4e8;
    --icat-nav-background-color: rgba(255,255,255,0.6);
    --icat-style-background-color: #f4f4f4;
    --icat-style-text-color: #1B1B1B;
}

[data-theme='dark'] {
    --icat-style-border-always: rgba(255,255,255,0.1);
    --icat-nav-background-color: rgba(13,17,23,0.6)
    --icat-style-background-color: #191919;
    --icat-style-text-color: hsla(0,0%,100%,0.86);
}