/*!
  Theme: hexo-theme-Melancholia
  Author: 亦封
  Maintainer: @yife68
  Maintainer-GitHub: https://github.com/yife68

  theme - GitHub: https://github.com/yife68/hexo-theme-Melancholia
*/

/*!
主题: hexo-theme-Melancholia
作者: 亦封
维护人员: @yife68
维护人员的GitHub个人地址: https://github.com/yife68

主题的GitHub个人地址: https://github.com/yife68/hexo-theme-Melancholia
*/


#main
  margin: 0
  padding: 0
  display: block !important

  @media screen and (max-width: 767px)
    margin-top: 0

  #details
    padding: 80px 16.25rem 0

    @media screen and (max-width: 767px)
      padding: 0

    @media screen and (min-width: 768px) and (max-width: 1668px)
      padding: 80px 4.25rem 0

@import '_layout/*'