/*!
  Theme: hexo-theme-Melancholia
  Author: 亦封
  Maintainer: @yife68
  Maintainer-GitHub: https://github.com/yife68

  theme - GitHub: https://github.com/yife68/hexo-theme-Melancholia
*/

/*!
主题: hexo-theme-Melancholia
作者: 亦封
维护人员: @yife68
维护人员的GitHub个人地址: https://github.com/yife68

主题的GitHub个人地址: https://github.com/yife68/hexo-theme-Melancholia
*/


#main
  margin: 0
  padding: 0
  margin-top: 80px
  display: block !important

  .top-main
    margin: 0 100px
    background-color: var(--icat-background-color)
    border-radius: 8px

    @media screen and (max-width: 768px)
      margin: 0 16px

    .banner-head
      padding: 10px 30px

      & > i
        font-size: 1.58em

      & > span
        font-size: 20px
        font-weight: bold