/*!
  Theme: hexo-theme-Melancholia
  Author: 亦封
  Maintainer: @yife68
  Maintainer-GitHub: https://github.com/yife68

  theme - GitHub: https://github.com/yife68/hexo-theme-Melancholia
*/

/*!
主题: hexo-theme-Melancholia
作者: 亦封
维护人员: @yife68
维护人员的GitHub个人地址: https://github.com/yife68

主题的GitHub个人地址: https://github.com/yife68/hexo-theme-Melancholia
*/


#main
  margin: 0
  padding: 0
  margin-top: 80px
  display: block !important

  .top-main
    margin: 0 100px
    background-color: var(--icat-background-color)
    border-radius: 8px

    @media screen and (max-width: 768px)
      margin: 0 16px

    .banner-head
      padding-top: 28px
      padding-left: 30px
      padding-right: 30px
      color: var(--icat-text-color)

      @media screen and (max-width: 768px)
        padding: 26px 0
        margin: 0 auto
        display: table

      & > i
        font-size: 1.58em

      & > span
        font-size: 20px
        font-weight: bold

    .banner-details
      padding: 20px 30px
      display: -webkit-box

      @media screen and (max-width: 768px)
        margin-top: -16px

      .book-details
        display: flex

        @media screen and (max-width: 768px)
          flex-direction: column

        img
          max-width: calc(100% / 8)
          border-radius: 6px
          border: 1px solid var(--icat-style-border-always)

          @media screen and (max-width: 768px)
            max-width: calc(100% / 2)
            margin: 0 auto

        .details
          padding: 4px 12px
          position: relative

          .details-title
            display: flex
            margin-top: -8px
            align-items: baseline
            font-weight: 600

            @media screen and (max-width: 768px)
              display: grid
              justify-content: center
              margin-top: 0

            p
              font-size: 18px
              color: var(--icat-text-color)

            .end,
            .publish-in-instalments
              padding: 0 12px
              font-size: 13px

              @media screen and (max-width: 768px)
                padding: 0
                text-align: center
                margin-top: -8px

            .end
              color: var(--icat-banner-book-text-color)
            
            .publish-in-instalments
              color: #008439
          
          .details-describe
            margin-bottom: 50px

            @media screen and (max-width: 768px)
              margin-bottom: 12px

            @media screen and (max-width: 768px)
              margin-top: 10px

            span
              display: flex
              font-weight: 300
              font-size: smaller
              color: var(--icat-describe-text-color)

          .details-author
            position: absolute
            bottom: 0
            display: flex
            align-items: center
            font-weight: 400
            color: var(--icat-text-color);

            @media screen and (max-width: 768px)
              display: flex
              align-items: center
              justify-content: center
              position: initial

            span
              padding: 0 12px
              font-size: 14px

            p,
            a
              font-size: 15px