/*!
_________________________________________________
|                                               |
|     ##    #######      ####       ##          |
|          ##           ##  ##      ##          |
|     ##   ##          ##    ##   ########      |
|     ##   ##          ########     ##          |
|     ##   ##          ##    ##     ##   ##     |
|     ##    #######    ##    ##     #######     |
|                                               |
|    Thank you for using Melancholia theme !    |
|              Author: @yife                    |
|                 License : MIT                 |
|_______________________________________________|
*/


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--icat-style-background-color);
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    color: var(--icat-style-text-color);
    text-decoration: none;
    background-color: transparent;
}
h1 {
    font-size: 1.6rem;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #eaecef;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.4em;
    padding-top: 0.2em;
}

h4 {
    font-size: 1.5rem;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #eaecef;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}

p {
    font-size: 1rem;
}

.display-inline {
    display: inline !important;
    text-align: center;
}