/*!
  Theme: hexo-theme-Melancholia
  Author: 亦封
  Maintainer: @yife68
  Maintainer-GitHub: https://github.com/yife68

  theme - GitHub: https://github.com/yife68/hexo-theme-Melancholia
*/

/*!
主题: hexo-theme-Melancholia
作者: 亦封
维护人员: @yife68
维护人员的GitHub个人地址: https://github.com/yife68

主题的GitHub个人地址: https://github.com/yife68/hexo-theme-Melancholia
*/


header
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  height: 54px
  padding: 0 16.25rem
  top: 0
  left: 0
  right: 0
  z-index: 10
  border-bottom: 1px solid var(--icat-card-border)
  background-color: var(--icat-nav-background-color)

  @media screen and (max-width: 767px)
    padding: 0 8px 0 20px

  @media screen and (min-width: 768px) and (max-width: 1668px)
    padding: 0 4.25rem

  .header_left,
  .header_middle,
  .header_right
    display: flex
    align-items: center

    .navbar_menus
      height: 54px
      padding: 0 0 0 15px
      letter-spacing: 0.2rem

      @media screen and (max-width: 820px)
        display: none!important

      .navbar-menu
        display: inline-block
        align-items: center
        height: 54px
        padding: 0 10px
        font-size: 16px
        line-height: 54px

    .button
      color: var(--icat-fontcolor)

    .dropdown-icon
      display: none
      height: 54px
      padding: 15px 10px

      @media screen and (max-width: 820px)
        display: inline-block!important

    .dropdown-menus
      line-height: 2rem
      animation: slide-in .15s ease 1
      display: none
      position: absolute
      left: 12px
      right: 12px
      top: calc(54px + 10px)
      border-radius: 6px
      padding: 24px
      background-color: var(--icat-nav-background-color)
      border: 1px solid var(--icat-card-border)
      z-index: 9999
      justify-items: center
      justify-content: center
      flex-direction: column

      @media screen and (max-width: 820px)
        background-color: var(--icat-nav-pe-background-color)

      .dropdown-menu
        padding: 10px
        color: var(--icat-fontcolor)
        
    #btn-search,
    #btn-toggle-dark
      display: inline-block
      padding:  18px 10px
      height: 25px

    #btn-dropdown
      display: inline-block
      padding:  13.5px 0

.display-inline
  display: inline !important
  text-align: center