#main

  .middle-main
    margin: 0 100px
    margin-top: 12px
    padding: 20px 30px
    background-color: var(--icat-background-color)
    border-radius: 8px
    display: flex

    @media screen and (max-width: 768px)
      display: grid
      margin: 0 16px
      margin-top: 12px

    .information-left
      min-width: calc(100% / 2)
      display: flex
      align-items: center

      .left-layout
        min-width: calc(100% / 2)
        display: flex
        align-items: center
        justify-content: space-around

        .read
          display: contents

          .read-button
            padding: 14px 0
            background-color: #F56C6C
            border-radius: 4px
            border: 1px solid var(--icat-style-border-always)
            width: 100%
            text-align: center
            margin-right: 15px
            color: #FFF

            i
              margin-right: 6px

              @media screen and (max-width: 768px)
                margin-right: 0

      .right-layout
        min-width: calc(100% / 2)
        display: flex
        align-items: center
        justify-content: space-around

        .popularity
          display: flex
          justify-content: center
          background-color: #E6A23C
          border-radius: 4px
          border: 1px solid var(--icat-style-border-always)
          width: 100%
          padding: 14px 34px
          margin-left: 13px
          color: #FFF

          .popularity-top-pe
            display: none

            @media screen and (max-width: 768px)
              display: block

            i
              margin-right: 6px

          .popularity-top
            @media screen and (max-width: 768px)
              display: none

    .information-right
      min-width: calc(100% / 2)
      display: flex
      align-items: center
      justify-content: space-around

      @media screen and (max-width: 768px)
        padding-top: 18px
        display: grid

      .left-layout
        min-width: calc(100% / 3)
        display: flex
        align-items: center
        justify-content: space-around

        .renew
          display: grid
          justify-items: center
        
          .title
            font-weight: 600
            color: var(--icat-text-color) 

          .content
            color: var(--icat-banner-book-text-color)
            font-size: 14px
            font-weight: 600
            text-align: center
            margin-top: 6px
        
      .middle-layout
        min-width: calc(100% / 3)
        display: flex
        align-items: center
        justify-content: space-around

        @media screen and (max-width: 768px)
          margin-top: 12px

        .total-number-of-words
          display: grid
          justify-items: center

          .title
            font-weight: 600
            color: var(--icat-text-color)

          .content
            color: var(--icat-banner-book-text-color)
            font-size: 14px
            font-weight: 600
            text-align: center
            margin-top: 6px

      .right-layout
        min-width: calc(100% / 3)
        display: flex
        align-items: center
        justify-content: space-around

        @media screen and (max-width: 768px)
          margin-top: 12px

        .latest-chapter
          display: grid
          justify-items: center

          .title
            font-weight: 600
            color: var(--icat-text-color)

          .content
            color: var(--icat-banner-book-text-color)
            font-size: 14px
            font-weight: 600
            text-align: center
            margin-top: 6px